<h1> Display the Credit Card Info</h1>

<div>

	Success!
	 <%= @name %> Your credit card <%= @cc_number %> with expiration date <%= @expiration %> has been charged.  <br />
	 Your shipment is on the way!<br />
</div>